body {
    padding: 10px;
    margin: 10px;
    background: url('/static/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover !important;
    -o-background-size: cover;
}

.header {
	text-align: center;
}

.carousel-inner img {
    max-width: 100%;
    max-height: 100%;
    height: 300px;
}

.btn-space {
    margin-right: 15px;
}

hr.solid {
    border-top: 2px solid #999;
}

hr.little {
    border-top: 1px solid #c9c9c9;
}

table .w-5 { width:5%; }
table .w-10 { width:10%; }
table .w-30 { width:30%; }
