{% extends 'base_init.html' %}

{% block content %}
    <h2>{% block title %} Edit Account {% endblock %}</h2>

    <p>
        <h4>Please enter data:</h4>
        <form action="{{ url_for('get_mycreator') }}" method="POST">
            {{ form1.csrf_token }}
            {{ form1.operation }}
            <p>
                <table><tbody>
                <tr><td width="30%">{{ form1.email.label }}</td> <td width="70%">{{ form1.email(size=20) }}</td></tr>
                <tr><td>{{ form1.url.label }}</td> <td>{{ form1.url(size=20) }}</td></tr>
                </tbody></table>
            </p>
            {% if operation == "mail" %}
                <ul class="errors">
                    {% for error in form1.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                <ul class="errors">
                    {% for error in form1.url.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <input type="submit" value="Update">
        </form>
    </p>

    <br><hr><br>

    <p>
        <h4>Set new password:</h4>
        <form action="{{ url_for('get_mycreator') }}" method="POST">
            {{ form2.csrf_token }}
            {{ form2.operation }}
            <p>
                <table><tbody>
                <tr><td width="30%">{{ form2.password.label }}</td> <td width="70%">{{ form2.password(size=20) }}</td></tr>
                <tr><td>{{ form2.password2.label }}</td> <td>{{ form2.password2(size=20) }}</td></tr>
                </tbody></table>
            </p>
            {% if operation == "pass" %}
                <ul class="errors">
                    {% for error in form2.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <input type="submit" value="Set">
        </form>
    </p>

    <br><hr><br>
    
    <p>
        <h4>Delete this user account:</h4>
        <form action="{{ url_for('get_mycreator') }}" method="POST">
            {{ form3.csrf_token }}
            {{ form3.operation }}
            <p>
                <table><tbody>
                <tr><td width="30%">{{ form3.confirmation.label }}</td> <td width="70%">{{ form3.confirmation(size=20) }}</td></tr>
                </tbody></table>
            </p>
            {% if operation == "delete" %}
                <ul class="errors">
                    {% for error in form3.confirmation.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <input type="submit" value="Delete">
        </form>    
    </p>
{% endblock %}
