<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kringle Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/simple-red.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
</head>
<body>
  <header>
    <h1>Kringle Web</h1>
    <p>{% block title %} {% endblock %}</p>
  </header>

  <div id="pagestart"></div>

  <nav>
    <a href="{{ url_for('get_my_index') }}"><i>Back</i></a>
    {% block links %} {% endblock %}

    <a href="/wetty/ssh/game?pass=game"><b>Start game</b></a>
  </nav>

  <main>
    {% block content %} {% endblock %}
  </main>

  <footer>
    <p>Logged in as {{ request.authorization.get('username') if (request.authorization != None)  }} </p>
    <p><a href="{{ url_for('get_my_login') }}">Log in</a></p>
    <p><a href="#pagestart">Go to top of page</a></p>
  </footer>
</body>
</html>
