<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kringle Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/simple-red.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
</head>
<body>
  <header>
    <h1>Kringle Web</h1>
    <p>{% block title %} {% endblock %}</p>
  </header>

  <div id="pagestart"></div>

  <nav>
    <a href="{{ url_for('get_all_creators') }}">Creators</a>
    <a href="{{ url_for('get_all_worlds') }}">Worlds</a>
    <a href="{{ url_for('get_all_rooms') }}">Rooms</a>
    <a href="{{ url_for('get_all_items') }}">Items</a>
    <a href="{{ url_for('get_all_persons') }}">Persons</a>
    <a href="{{ url_for('get_all_objectives') }}">Objectives</a>
    <a href="{{ url_for('get_all_junctions') }}">Junctions</a>

    <a href="/wetty/ssh/game?pass=game"><b>Start game</b></a>
  </nav>

  <main>
    {% block content %} {% endblock %}
  </main>

  <footer>
    <p><a href="#pagestart">Go to top of page</a></p>
  </footer>
</body>
</html>
