<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Kringle Info - {% block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
        <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

        <script src="{{ prefix }}/static/helper_func.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ prefix }}/static/main.css">
        <link rel="icon" type="image/png" href="{{ prefix }}/static/kringle_logo_s.png">
    </head>

    <body>
        <div id="page-start"></div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('show_index') }}">Kringle.info</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('show_creators') }}">Creators</a></li>
                    <li><a href="{{ url_for('show_worlds') }}">Worlds</a></li>

                    {% if session['world_id'] %}
                        <li><a href="{{ url_for('show_rooms', world_id=session['world_id']) }}">Rooms</a></li>
                        <li><a href="{{ url_for('show_items', world_id=session['world_id']) }}">Items</a></li>
                        <!--<li><a href="{{ url_for('show_persons', world_id=session['world_id']) }}">Persons</a></li>-->
                        <li><a href="{{ url_for('show_objectives', world_id=session['world_id']) }}">Objectives</a></li>
                        <!--<li><a href="{{ url_for('show_junctions', world_id=session['world_id']) }}">Junctions</a></li>-->
                    {% else %}
                        <li><a class="btn disabled" href="#">Rooms</a></li>
                        <li><a class="btn disabled" href="#">Items</a></li>
                        <!--<li><a class="btn disabled" href="#">Persons</a></li>-->
                        <li><a class="btn disabled" href="#">Objectives</a></li>
                        <!--<li><a class="btn disabled" href="#">Junctions</a></li>-->
                    {% endif %}

                    <li><a href="{{ url_for('show_stats') }}">Stats</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('show_storage') }}"><span class="glyphicon glyphicon-hdd"></span> Storage</a></li>
                        <li><a href="{{ url_for('show_my_creator') }}"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                        <li><a href="{{ url_for('show_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('show_new_creator') }}"><span class="glyphicon glyphicon-user"></span> New Account</a></li>
                        <li><a href="{{ url_for('show_logged') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% block content %} {% endblock %}

        <br><hr class="solid"><br>

        <footer class="page-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <h6 class="font-weight-bold">
                            {% if current_user.is_authenticated %}
                                Logged in as {{ current_user.creator_name }}.
                            {% else %}
                                Not logged in.
                            {% endif %}
                            Version: {{ version }}
                        </h6>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h6 class="font-weight-bold">
                            <a href="{{ prefix }}/static/doc/index.html">Read Docs</a>,
                            <a href="{{ prefix }}/swagger">Show API</a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center"><a href="#page-start">Go to top of page</a></div>
        </footer>
        <br>

        <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
    </body>
</html>
