{% extends 'base.html' %}

{% block content %}
    {#  Page header #}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} All Creators {% endblock %}</h2>
    </div>

    {#  Page content #}
    <div class="container-fluid pb-3 mt-2 mb-2">

        {#  Show list of all creators #}
        {% if creators.count() == 0 %}
            No entries found.<br>
        {% else %}
            <div class="list-group">
                {% for creator in creators %}
                    <a href="{{ url_for('show_creator', creator_id=creator.creator_id)}}" class="list-group-item">{{ creator.creator_name }}{% if creator.creator_role == "creator" %} <i class="bi bi-mortarboard"></i>{% endif %}{% if creator.active == 0 %} <i class="bi bi-star"></i>{% endif %}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
