{% extends 'base.html' %}

{% block content %}
    <div class = "page-header">
        <h2>
            {% block title %} {{ creator.creator_name }} {% endblock %} ({% if creator.creator_role == "creator" %}<span class="glyphicon glyphicon-king"></span> World Creator{% else %}User{% endif %})
        </h2>
    </div>

    <div class="container-fluid">
        <img src="{{ creator.creator_img if (creator.creator_img!='') else '/static/not_found.jpg' }}" alt="Creator Image" width="33%" height="33%">
        <br><br>

        <div class="panel panel-default">
            <div class="panel-body">{{ creator.creator_desc }}</div>
        </div>
        <br><br>

        <a href="{{ url_for('show_creators') }}">All Creators</a>
    </div>
{% endblock %}
