{% extends 'base.html' %}

{% block content %}
    <div class = "page-header">
        <h2>
            {% block title %} {{ item.item_name }} {% endblock %}
        </h2>
    </div>

    <div class="container-fluid">
        <i>Found in <a href="{{ url_for('show_room', room_id=room.room_id)}}">{{ room.room_name }}</a></i>
        <br><br>

        <table class="table">
            <tr><td class="w-5">ID</td> <td>{{ item.item_id }}</td></tr>
            <tr><td colspan="2">{{ item.item_desc }}</td></tr>
        </table>
        <br><br>

        <img src="{{ item.item_img if (item.item_img!='') else '/static/not_found.jpg' }}" alt="Item Image" width="33%" height="33%">
        <br><br>

        <a href="{{ url_for('show_items', world_id=item.world_id) }}">All Items</a>
    </div>
{% endblock %}
