{% extends 'base.html' %}

{% block content %}
    <div class = "page-header">
        <h2>
            {% block title %} All Junctions {% endblock %}
        </h2>
    </div>

    <div class="container-fluid">
        {% if junctions.count() == 0 %}
            No entries found.
        {% else %}
            <div class="list-group">
                {% for junction in junctions %}
                    <a href="{{ url_for('show_junction', junction_id=junction.junction_id)}}" class="list-group-item">Junction #{{ junction.junction_id }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
