{% extends 'base.html' %}

{% block links %}
    <a href="{{ url_for('get_rooms', num=world_id) }}">Rooms</a>
    <a href="{{ url_for('get_items', num=world_id) }}">Items</a>
    <a href="{{ url_for('get_persons', num=world_id) }}">Persons</a>
    <a href="{{ url_for('get_objectives', num=world_id ) }}">Objectives</a>
    <a href="{{ url_for('get_junctions', num=world_id) }}">Junctions</a>
{% endblock %}

{% block content %}
    <h2>{% block title %} All Junctions {% endblock %}</h2>

    <p>
        <ul>
            {% for junction in junctions %}
            <li><a href="{{ url_for('get_junction', num=junction.junction_id)}}">#{{ junction.junction_id }}</a></li>
            {% endfor %}
        </ul>
    </p>
{% endblock %}
