{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Login {% endblock %}</h2>
    
    <p>
        <h4>Enter your login data:</h4>
        <form action="{{ url_for('show_login') }}" method="POST">
            {{ form.csrf_token }}
            <p>
                <table><tbody>
                <tr><td width="30%">{{ form.creator.label }}</td> <td width="70%">{{ form.creator(size=20) }}</td></tr>
                <tr><td>{{ form.password.label }}</td> <td>{{ form.password(size=20) }}</td></tr>
                </tbody></table>
            </p>
            <ul class="errors">
                {% for error in form.creator.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <ul class="errors">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>

            <p>
                {{ form.remember() }} {{ form.remember.label }}
            </p>
            {% if form.remember.errors %}
            <ul class="errors">
                {% for error in form.remember.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
            <input type="submit" value="Log in">
        </form>
    </p>
{% endblock %}
