{% extends 'base.html' %}

{% block links %}
    <a href="{{ url_for('get_rooms', num=objective.world_id) }}">Rooms</a>
    <a href="{{ url_for('get_items', num=objective.world_id) }}">Items</a>
    <a href="{{ url_for('get_persons', num=objective.world_id) }}">Persons</a>
    <a href="{{ url_for('get_objectives', num=objective.world_id ) }}">Objectives</a>
    <a href="{{ url_for('get_junctions', num=objective.world_id) }}">Junctions</a>
{% endblock %}

{% block content %}
    <h2>{% block title %} {{ objective.objective_name }} (#{{ objective.objective_id }}) {% endblock %}</h2>

    <p>
        <i>Found in <a href="{{ url_for('get_room', num=objective.room_id)}}">Room ID #{{ objective.room_id }}</a></i></br>
        Description: {{ objective.objective_desc }}</br>
        Difficulty: {{ objective.difficulty }}</br>
        URL: {{ objective.objective_url }}</br>
        Supported by: {{ objective.supported_by }}</br>
        Requires: {{ objective.requires }}
    </p>

    <p>
        <img src="{{ objective.objective_img if (objective.objective_img!='') else '/static/not_found.jpg' }}" alt="Objective Image" width="33%" height="33%">
    </p>

    <br><hr><br>

    <p>
        <h4>Master Quest</h4>
        {{ mdquest|safe }}
    </p>

    <br><hr><br>

    <p>
        <h4>Master Solution</h4>
        {{ mdsolution|safe }}
    </p>

    <br><hr><br>

    <p>
        <h4>Edit Data</h4>
        <form action="{{ url_for('get_quest', num=objective.objective_id)}}">
            <input type="submit" value="Edit Master Quest" />
        </form>
        <form action="{{ url_for('get_solution', num=objective.objective_id)}}">
            <input type="submit" value="Edit Master Solution" />
        </form>
        <form action="{{ url_for('get_mysolution', num=objective.objective_id)}}">
            <input type="submit" value="Edit My Solution" />
        </form>
    </p>

    <p>
        <a href="{{ url_for('get_objectives', num=objective.world_id) }}">All Objectives</a>
    </p>
{% endblock %}
