{% extends 'base.html' %}

{% block links %}
    <a href="{{ url_for('get_all_rooms', num=world_id) }}">Rooms</a>
    <a href="{{ url_for('get_all_items', num=world_id) }}">Items</a>
    <a href="{{ url_for('get_all_persons', num=world_id) }}">Persons</a>
    <a href="{{ url_for('get_all_objectives', num=world_id ) }}">Objectives</a>
    <a href="{{ url_for('get_all_junctions', num=world_id) }}">Junctions</a>
{% endblock %}

{% block content %}
    <h2>{% block title %} All Objectives {% endblock %}</h2>

    <p>
        <ul>
            {% for objective in objectives %}
            <li><a href="{{ url_for('get_single_objective', num=objective[0])}}">{{ objective[3] }} (#{{ objective[0] }})</a></li>
            {% endfor %}
        </ul>
    </p>

    <a href="{{ url_for('get_my_index') }}">Index</a>
{% endblock %}
