{% extends 'base.html' %}

{% block content %}
    <div class = "page-header">
        <h2>
            {% block title %} All Objectives {% endblock %}
        </h2>
    </div>

    <div class="container-fluid">
        {% if objectives.count() == 0 %}
            No entries found.
        {% else %}
            <div class="list-group">
                {% for objective in objectives %}
                    <a href="{{ url_for('show_objective', objective_id=objective.objective_id)}}" class="list-group-item">{{ objective.objective_name }} ({{ objective.objective_title }})</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
