{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} {{ objective.objective_title }} {% endblock %}</h2>
    </div>

    <div class="container-fluid pb-3 mt-2 mb-2">
        <div class="card mb-3" style="max-width: 720px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ objective.objective_img if (objective.objective_img!='') else '/static/not_found.jpg' }}" class="img-fluid rounded-start" alt="Objective Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ objective.objective_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Found in <a href="{{ url_for('show_room', room_id=room.room_id)}}">{{ room.room_name }}</a></h6>
                        <p class="card-text">{{ objective.objective_desc }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                Difficulty: <span class="badge bg-secondary">{{ objective.difficulty }}</span><br>
                Supported by {{ objective.supported_by }}<br>
                Requires {{ objective.requires }}<br>
                URL: {{ objective.objective_url }}
            </div>
        </div>

        <!-- Delete Modal -->
        <div id="myModal_del" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Objective</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('show_deleted_objective', objective_id=objective.objective_id) }}">
                            <button type="submit" class="btn btn-danger mt-4 mb-4">Confirm</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Objective</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('show_objective_p', objective_id=objective.objective_id) }}" method="POST">
                            {{ form.csrf_token }}
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.name.name }}">{{ form.name.label }}</label>
                                {{ form.name(size=20, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.title.name }}">{{ form.title.label }}</label>
                                {{ form.title(size=20, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.difficulty.name }}">{{ form.difficulty.label }}</label>
                                {{ form.difficulty(class="form-select") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.url.name }}">{{ form.url.label }}</label>
                                {{ form.url(size=20, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.supported.name }}">{{ form.supported.label }}</label>
                                {{ form.supported(class="form-select") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.requires.name }}">{{ form.requires.label }}</label>
                                {{ form.requires(class="form-select") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.description.name }}">{{ form.description.label }}</label>
                                {{ form.description(size=40, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.image.name }}">{{ form.image.label }}</label>
                                {{ form.image(size=20, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.room.name }}">{{ form.room.label }}</label>
                                {{ form.room(class="form-select") }}
                            </div>
                            <button type="submit" class="btn btn-primary mt-4 mb-4">Update</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-toolbar" role="toolbar" aria-label="Objective Actions">
            <a href="{{ url_for('show_objectives', world_id=objective.world_id) }}" class="btn btn-primary mt-4 mb-4 btn-space">
                <i class="bi bi-list-ul"></i> All Objectives
            </a>

            {% if current_user.creator_role == "creator" and  current_user.creator_id == creator.creator_id %}
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-primary mt-4 mb-4 btn-space" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-pencil"></i> Edit Objective</button>

                <form action="{{ url_for('show_quest', objective_id=objective.objective_id)}}">
                    <button type="submit" class="btn btn-primary mt-4 mb-4 btn-space"><i class="bi bi-question-square"></i> Edit Quest</button>
                </form>
            {% endif %}

            {% if current_user.creator_role == "creator" or current_user.creator_role == "user" %}
                <form action="{{ url_for('show_my_solution', objective_id=objective.objective_id)}}">
                    <button type="submit" class="btn btn-primary mt-4 mb-4 btn-space"><i class="bi bi-exclamation-square"></i> Edit My Solution</button>
                </form>
            {% endif %}

            {% if current_user.creator_role == "creator" or current_user.creator_role == "user" %}
                <form action="{{ url_for('show_report_single', objective_id=objective.objective_id, format_type='markdown') }}">
                    <button type="submit" class="btn btn-primary mt-4 mb-4 btn-space"><i class="bi bi-filetype-md"></i> Create Report (Markdown)</button>
                </form>
            {% endif %}

            {% if current_user.creator_role == "creator" or current_user.creator_role == "user" %}
                <form action="{{ url_for('show_report_single', objective_id=objective.objective_id, format_type='pdf') }}">
                    <button type="submit" class="btn btn-primary mt-4 mb-4 btn-space"><i class="bi bi-filetype-html"></i> Create Report (HTML)</button>
                </form>
            {% endif %}

            {% if current_user.creator_role == "creator" and  current_user.creator_id == creator.creator_id %}
                <button type="button" class="btn btn-danger mt-4 mb-4 btn-space" data-bs-toggle="modal" data-bs-target="#myModal_del"><i class="bi bi-trash"></i> Delete Objective</button>
            {% endif %}
        </div>

        <hr class="little mt-4 mb-4">

        <h4 class="mb-3">Quest</h4>
        {{ md_quest|safe }}

        <hr class="little mt-4 mb-4">

        <h4 class="mb-3">Public Solutions</h4>
        {% if world.visible == 1 %}
            <div class="list-group">
                {% for solution in solutions %}
                    <a href="{{ url_for('show_solution', solution_id=solution.solution_id)}}" class="list-group-item">Solution created by {{ creator_all[solution.solution_id] }}, {{ voting_all[solution.solution_id] }} vote(s)</a>
                {% endfor %}
            </div>
        {% else %}
            Solutions are not visible as this world is not public currently.<br>
        {% endif %}
    </div>
{% endblock %}









