{% extends 'base.html' %}

{% block content %}
    {#  Page header #}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} Reset password {% endblock %}</h2>
    </div>

    {#  Page content #}
    <div class="container-fluid pb-3 mt-2 mb-2">

        {# Display form and possible error message - log in user #}
        <h4 class="mb-3">Enter your registered e-mail address</h4>
        <form action="{{ url_for('show_password') }}" method="POST">
            {{ form.csrf_token }}
            <div class="form-group mt-2 mb-2">
                <label for="email">{{ form.email.label }}</label>
                {{ form.email(size=20, class="form-control", style="max-width: 720px;", onkeypress="return event.charCode != 32") }}
            </div>
            {% for error in form.email.errors %}
                <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-4 mb-4">Send reset link</button>
        </form>
    </div>
{% endblock %}
