{% extends 'base.html' %}

{% block content %}
    <div class = "page-header">
        <h2>
            {% block title %} All Persons {% endblock %}
        </h2>
    </div>

    <div class="container-fluid">
        {% if persons.count() == 0 %}
            No entries found.
        {% else %}
            <div class="list-group">
                {% for person in persons %}
                    <a href="{{ url_for('show_person', person_id=person.person_id)}}" class="list-group-item">{{ person.person_name }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
