{% extends 'base.html' %}

{% block content %}
    <div class = "page-header">
        <h2>
            {% block title %} {{ person.person_name }} {% endblock %}
        </h2>
    </div>

    <div class="container-fluid">
        <i>Found in <a href="{{ url_for('show_room', room_id=room.room_id)}}">{{ room.room_name }}</a></i>
        <br><br>

        <img src="{{ person.person_img if (person.person_img!='') else '/static/not_found.jpg' }}" alt="Person Image" width="33%" height="33%">
        <br><br>

        <div class="panel panel-default">
            <div class="panel-body">{{ person.person_desc }}</div>
        </div>

        <a href="{{ url_for('show_persons', world_id=person.world_id) }}">All Persons</a>
    </div>
{% endblock %}
