{% extends 'base_editor.html' %}

{% block links %}
    <a href="{{ url_for('get_rooms', num=world_id) }}">Rooms</a>
    <a href="{{ url_for('get_items', num=world_id) }}">Items</a>
    <a href="{{ url_for('get_persons', num=world_id) }}">Persons</a>
    <a href="{{ url_for('get_objectives', num=world_id) }}">Objectives</a>
    <a href="{{ url_for('get_junctions', num=world_id) }}">Junctions</a>
{% endblock %}

{% block content %}
    <h1>{% block title %} Single Quest {% endblock %}</h1>

    <form action="{{ url_for('post_quest', num=number)}}" method="POST">
        <textarea name="quest" cols="50" rows="10">{{ quest }}</textarea>
        <script>
            const easyMDE = new EasyMDE();
        </script>
        <input type="submit" value="Submit">
    </form>

{% endblock %}
