{% extends 'base.html' %}

{% block content %}
    {#  Page header #}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} Quest {% endblock %}</h2>
    </div>

    {#  Page content #}
    <div class="container-fluid pb-3 mt-2 mb-2">

        {#  Display a dropdown containing all available S3 files - selecting an item copies its link to the clipboard #}
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                S3 Storage
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Click on an item to copy Markdown links to clipboard</a></li>
                <li><hr class="dropdown-divider"></li>
                {% for item in contents %}
                    <li><a class="dropdown-item" href="#" onclick="CopyToClipboard('{{ item }}');return false;">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% for item in contents %}
            <div id="{{ item }}" style="font-size:0;">![{{ item }}](https://www.kringle.info/kringle-public/{{ section_name }}/{{ folder_name }}/{{ item }})</div>
        {% endfor %}

        <hr class="little mt-4 mb-4">

        {# Display Markdown editor form - edit an objective's quest #}
        <form action="{{ url_for('show_quest', objective_id=objective_id)}}" id="quest" method="POST">
            {{ form.csrf_token }}
            <div class="mb-3">
                <label for="quest">Edit Content:</label>
                <textarea name="quest" rows="10" id="quest" class="form-control">{{ quest }}</textarea>
            </div>
            <script>
                const easyMDE = new EasyMDE();
            </script>
        </form>

        {# Display simple buttons - submit or cancel form editing #}
        <div class="btn-toolbar" role="toolbar" aria-label="Quest Actions">
            <button type="submit" form="quest" class="btn btn-primary mt-4 mb-4 btn-space">Submit</button>

            <form action="{{ url_for('show_objective', objective_id=objective_id) }}">
                <button type="submit" class="btn btn-secondary mt-4 mb-4 btn-space">Cancel</button>
            </form>
        </div>
    </div>
{% endblock %}
