{% extends 'base.html' %}

{% block content %}
    {#  Page header #}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} Release Notes {% endblock %}</h2>
    </div>

    {#  Page content #}
    <div class="container-fluid pb-3 mt-2 mb-2">

        {#  Show simple about #}
        <div class="card">
            <div class="card-body">
                Based on <a class="link-primary" href="https://palletsprojects.com/p/flask/">Flask</a> web application framework and <a class="link-primary" href="https://getbootstrap.com">Bootstrap</a> frontend toolkit. Hosted on <a class="link-primary" href="https://contabo.com/en/">Contabo</a> servers.<br>
                If you want to get in touch with me just visit my <a class="link-primary" href="https://github.com/Benjamin-BK-Krueger">GitHub page</a> or my <a class="link-primary" href="https://blk8.de">WordPress site</a>.<br>
                You may also send me a <a href="{{ url_for('show_contact')}}">message</a> here.
            </div>
        </div>

        {#  Show release information #}
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3">v1.5 (20220708)</h4>
                New Feature: Simple registration workflow in addition to invitation codes<br><br>
                <h4 class="mb-3">v1.4 (20220707)</h4>
                New Feature: Show progress for (un)solved challenges<br><br>
                <h4 class="mb-3">v1.3 (20220705)</h4>
                New Feature: Distinction between Kringle and non-Kringle themes<br>
                New Feature: World Archive<br><br>
                <h4 class="mb-3">v1.2 (20220704)</h4>
                New Feature: Upload images to S3 storage via copy &amp; paste<br><br>
                <h4 class="mb-3">v1.1 (20220701)</h4>
                Migrate from Bootstrap 3 to Bootstrap 5<br><br>
                <h4 class="mb-3">v1.0 (20220630)</h4>
                Initial release. Hello World! 😀
            </div>
        </div>
    </div>
{% endblock %}
