{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} Report {% endblock %}</h2>
    </div>

    <div class="container-fluid pb-3 mt-2 mb-2">
        {{ md_report|safe }}
    </div>

    <div class="btn-toolbar" role="toolbar" aria-label="Room Actions">
        <form action="{{ url_for('show_world', world_id=world_id)}}">
            <button type="submit" class="btn btn-primary mt-4 mb-4 btn-space">Back</button>
        </form>

        <button onclick="window.print()" class="btn btn-primary mt-4 mb-4 btn-space">Print</button>
    </div>
{% endblock %}
