{% extends 'base.html' %}

{% block content %}
    {#  Page header #}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} {{ room.room_name }} {% endblock %}</h2>
    </div>

    {#  Page content #}
    <div class="container-fluid pb-3 mt-2 mb-2">

        {#  Show detailed information regarding the selected room #}
        <div class="card mb-3" style="max-width: 720px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ room.room_img if (room.room_img!='') else '/static/not_found.jpg' }}" class="img-fluid rounded-start" alt="Room Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Found in <a href="{{ url_for('show_world', world_id=world.world_id)}}">{{ world.world_name }}</a></h6>
                        <p class="card-text">{{ room.room_desc }}</p>
                    </div>
                </div>
            </div>
        </div>

        {# Modal dialog window - delete currently selected room #}
        <div id="myModal_del" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Room</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('show_deleted_room', room_id=room.room_id) }}">
                            <button type="submit" class="btn btn-danger mt-4 mb-4">Confirm</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        {# Modal dialog window - edit currently selected room #}
        <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Room</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('show_room_p', room_id=room.room_id) }}" method="POST">
                            {{ form.csrf_token }}
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.name.name }}">{{ form.name.label }}</label>
                                {{ form.name(size=20, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.description.name }}">{{ form.description.label }}</label>
                                {{ form.description(size=40, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.image.name }}">{{ form.image.label }}</label>
                                {{ form.image(size=20, class="form-control") }}
                            </div>
                            <button type="submit" class="btn btn-primary mt-4 mb-4">Update</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        {#  Display dropdowns containing links to all depending elements #}
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Available Objectives
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Click on an item to open objective</a></li>
                <li><hr class="dropdown-divider"></li>
                {% for objective in objectives %}
                    <li><a class="dropdown-item" href="{{ url_for('show_objective', objective_id=objective.objective_id)}}">{{ objective.objective_title }} ({{ objective.objective_name }})</a></li>
                {% endfor %}
            </ul>

            {% if world.reduced == 0 %}
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">
                    Available Items
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                    <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Click on an item to open item</a></li>
                    <li><hr class="dropdown-divider"></li>
                    {% for item in items %}
                        <li><a class="dropdown-item" href="{{ url_for('show_item', item_id=item.item_id)}}">{{ item.item_name }}</a></li>
                    {% endfor %}
                </ul>

                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink3" data-bs-toggle="dropdown" aria-expanded="false">
                    Available Persons
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink3">
                    <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Click on an item to open person</a></li>
                    <li><hr class="dropdown-divider"></li>
                    {% for person in persons %}
                        <li><a class="dropdown-item" href="{{ url_for('show_person', person_id=person.person_id)}}">{{ person.person_name }}</a></li>
                    {% endfor %}
                </ul>

                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink4" data-bs-toggle="dropdown" aria-expanded="false">
                    Available Junctions
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
                    <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Click on an item to open junction</a></li>
                    <li><hr class="dropdown-divider"></li>
                    {% for junction in junctions %}
                        <li><a class="dropdown-item" href="{{ url_for('show_junction', junction_id=junction.junction_id)}}">{{ junction.junction_id }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {#  Display action buttons regarding the selected item #}
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

            {#  Text-based links #}
            <div class="btn-group me-2" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle mt-4 mb-4" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-activity"></i> Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="{{ url_for('show_rooms', world_id=room.world_id) }}">All Rooms</a></li>
                        {% if current_user.creator_role == "creator" and  current_user.creator_id == creator.creator_id %}
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#myModal">Edit Room</a></li>
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#myModal_del">Delete Room</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            {#  Same links implemented using small buttons #}
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <a href="{{ url_for('show_rooms', world_id=room.world_id) }}" class="btn btn-primary mt-4 mb-4"><i class="bi bi-list-ul"></i></a>
                {% if current_user.creator_role == "creator" and  current_user.creator_id == creator.creator_id %}
                    <a href="#" class="btn btn-primary mt-4 mb-4" data-bs-toggle="modal" data-bs-target="#myModal" ><i class="bi bi-pencil"></i></a>
                {% endif %}
            </div>
            <div class="btn-group me-2" role="group" aria-label="Third group">
                {% if current_user.creator_role == "creator" and  current_user.creator_id == creator.creator_id %}
                    <a href="#" class="btn btn-danger mt-4 mb-4" data-bs-toggle="modal" data-bs-target="#myModal_del"><i class="bi bi-trash"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
