{% extends 'base.html' %}

{% block links %}
    <a href="{{ url_for('get_all_rooms', num=world_id) }}">Rooms</a>
    <a href="{{ url_for('get_all_items', num=world_id) }}">Items</a>
    <a href="{{ url_for('get_all_persons', num=world_id) }}">Persons</a>
    <a href="{{ url_for('get_all_objectives', num=world_id ) }}">Objectives</a>
    <a href="{{ url_for('get_all_junctions', num=world_id) }}">Junctions</a>
{% endblock %}

{% block content %}
    <h2>{% block title %} All Rooms {% endblock %}</h2>

    <p>
        <ul>
            {% for room in rooms %}
            <li><a href="{{ url_for('get_single_room', num=room.room_id)}}">{{ room.room_name }} (#{{ room.room_id }})</a></li>
            {% endfor %}
        </ul>
    </p>

    <a href="{{ url_for('get_my_index') }}">Index</a>
{% endblock %}
