{% extends 'base.html' %}

{% block links %}
    <a href="{{ url_for('get_rooms', world_id=world_id) }}">Rooms</a>
    <a href="{{ url_for('get_items', world_id=world_id) }}">Items</a>
    <a href="{{ url_for('get_persons', world_id=world_id) }}">Persons</a>
    <a href="{{ url_for('get_objectives', world_id=world_id ) }}">Objectives</a>
    <a href="{{ url_for('get_junctions', world_id=world_id) }}">Junctions</a>
{% endblock %}

{% block content %}
    <h2>{% block title %} All Rooms {% endblock %}</h2>

    <p>
        {% if rooms.count() == 0 %}
        No entries found.
        {% endif %}
        <ul>
            {% for room in rooms %}
            <li><a href="{{ url_for('get_room', room_id=room.room_id)}}">{{ room.room_name }} (#{{ room.room_id }})</a></li>
            {% endfor %}
        </ul>
    </p>
{% endblock %}
