{% extends 'base.html' %}

{% block content %}
    <div class = "page-header">
        <h2>
            {% block title %} {{ room.room_name }} {% endblock %}
        </h2>
    </div>

    <div class="container-fluid">
        <i>Found in <a href="{{ url_for('show_world', world_id=world.world_id)}}">{{ world.world_name }}</a></i>
        <br><br>

        <img src="{{ room.room_img if (room.room_img!='') else '/static/not_found.jpg' }}" alt="Room Image" width="33%" height="33%">
        <br><br>

        <div class="panel panel-default">
            <div class="panel-body">{{ room.room_desc }}</div>
        </div>

        <br><br>

        <!-- Delete Modal -->
        <div id="myModal_del" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Room</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('show_deleted_room', room_id=room.room_id) }}">
                            <button type="submit" class="btn btn-danger btn-space">Confirm</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Room</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('show_room_p', room_id=room.room_id) }}" method="POST">
                            {{ form.csrf_token }}
                            <div class="form-group">
                                <label for="name">{{ form.name.label }}</label>
                                {{ form.name(size=20, class="form-control") }}
                            </div>
                            {% for error in form.name.errors %}
                                <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                            {% endfor %}
                            <div class="form-group">
                                <label for="description">{{ form.description.label }}</label>
                                {{ form.description(size=40, class="form-control") }}
                            </div>
                            {% for error in form.description.errors %}
                                <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                            {% endfor %}
                            <div class="form-group">
                                <label for="image">{{ form.image.label }}</label>
                                {{ form.image(size=20, class="form-control") }}
                            </div>
                            {% for error in form.image.errors %}
                                <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                            {% endfor %}
                            <button type="submit" class="btn btn-default">Update</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-toolbar">
            <a href="{{ url_for('show_rooms', world_id=room.world_id) }}" class="btn btn-default btn-space">
                <span class="glyphicon glyphicon-th-list"></span> All Rooms
            </a>

            {% if current_user.creator_role == "creator" and  current_user.creator_id == creator.creator_id %}
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-default btn-space" data-toggle="modal" data-target="#myModal">Edit Room</button>

                <button type="button" class="btn btn-danger btn-space" data-toggle="modal" data-target="#myModal_del">Delete Room</button>

                <br><br>
            {% endif %}
        </div>
    </div>
{% endblock %}
