{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} All Rooms {% endblock %}</h2>
    </div>

    <div class="container-fluid pb-3 mt-2 mb-2">
        {% if rooms.count() == 0 %}
            No entries found.<br>
        {% else %}
            <div class="list-group">
                {% for room in rooms %}
                    <a href="{{ url_for('show_room', room_id=room.room_id)}}" class="list-group-item">{{ room.room_name }}</a>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Modal -->
        <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Room</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('show_rooms_p', world_id=world.world_id) }}" method="POST">
                            {{ form.csrf_token }}
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.name.name }}">{{ form.name.label }}</label>
                                {{ form.name(size=20, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.description.name }}">{{ form.description.label }}</label>
                                {{ form.description(size=40, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.image.name }}">{{ form.image.label }}</label>
                                {{ form.image(size=20, class="form-control") }}
                            </div>
                            <button type="submit" class="btn btn-primary mt-4 mb-4">Create</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        {% if current_user.creator_role == "creator" and  current_user.creator_id == creator.creator_id %}
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-primary mt-4 mb-4" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-plus-square"></i> Create Room</button>
        {% endif %}
    </div>
{% endblock %}
