{% extends 'base.html' %}

{% block content %}
    <div class = "page-header">
        <h2>
            {% block title %} Solution {% endblock %}
        </h2>
    </div>

    <div class="container-fluid">
        {{ mdsolution|safe }}
        <br><br>

        <div class="btn-toolbar">
            {% if (current_user.creator_id != solution.creator_id) and (current_user.creator_role == "creator" or current_user.creator_role == "user") %}
                <form action="{{ url_for('show_liked_solution', solution_id=solution.solution_id) }}" method="GET">
                    <button type="submit" class="btn btn-default btn-space">Like / Unlike</button>
                </form>
            {% endif %}

            <form action="{{ url_for('show_objective', objective_id=solution.objective_id) }}">
                <button type="submit" class="btn btn-default btn-space">Back</button>
            </form>
        </div>
    </div>
{% endblock %}
