{% extends 'base_editor.html' %}

{% block links %}
    <a href="{{ url_for('get_rooms', num=world_id) }}">Rooms</a>
    <a href="{{ url_for('get_items', num=world_id) }}">Items</a>
    <a href="{{ url_for('get_persons', num=world_id) }}">Persons</a>
    <a href="{{ url_for('get_objectives', num=world_id) }}">Objectives</a>
    <a href="{{ url_for('get_junctions', num=world_id) }}">Junctions</a>
{% endblock %}

{% block content %}
    <h2>{% block title %} Single Solution {% endblock %}</h2>

    <p>
        <h4>For following quest:</h4>
        {{ mdquest|safe }}
    </p>

    <br><hr><br>

    <p>
        <form action="{{ url_for('post_mysolution', num=number)}}" method="POST">
            <textarea name="solution" cols="50" rows="10">{{ solution }}</textarea><br>
            <script>
                const easyMDE = new EasyMDE();
            </script>
            <input type="checkbox" id="visible" name="visible" value="1" {{ 'checked' if (visible==1) }}> <label for="visible">Make solution public</label><br>
            <input type="submit" value="Submit">
        </form>
    </p>
{% endblock %}
