{% extends 'base.html' %}

{% block content %}
    {#  Page header #}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} My Solution {% endblock %}</h2>
    </div>

    {#  Page content #}
    <div class="container-fluid pb-3 mt-2 mb-2">

        {# Modal dialog window - delete currently selected solution #}
        <div id="myModal_del" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Solution</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('show_deleted_solution', objective_id=objective_id) }}">
                            <button type="submit" class="btn btn-danger mt-4 mb-4">Confirm</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        {#  Display quest of the selected objective - the markdown has been converted to HTML #}
        <h4 class="mb-3">For following quest:</h4>
        {{ md_quest|safe }}

        <hr class="little mt-4 mb-4">

        {#  Display a dropdown containing all available S3 files - selecting an item copies its link to the clipboard #}
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                S3 Storage
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Click on an item to copy Markdown links to clipboard</a></li>
                <li><hr class="dropdown-divider"></li>
                {% for item in contents %}
                    <li><a class="dropdown-item" href="#" onclick="CopyToClipboard('{{ item.Key }}');return false;">{{ item.Key }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% for item in contents %}
            <div id="{{ item.Key }}" style="font-size:0;">![{{ item.Key }}](https://eu2.contabostorage.com/6c12e0aef74840bf9c331581d3f4d52c:kringle-public/{{ item.Key }})</div>
        {% endfor %}

        <hr class="little mt-4 mb-4">

        {# Display Markdown editor form - edit an objective's solution #}
        <form action="{{ url_for('show_my_solution', objective_id=objective_id)}}" id="solution" method="POST">
            <div class="mb-3">
                <label for="solution">Edit Solution:</label>
                <textarea name="solution" rows="10" id="solution" class="form-control">{{ solution }}</textarea>
            </div>
            <script>
                const easyMDE = new EasyMDE();
            </script>

            <div class="form-check">
                <label class="form-check-label" for="visible">Make solution public</label>
                <input class="form-check-input" type="checkbox" value="" name="visible" id="visible" {{ 'checked' if (visible==1) }}>
            </div>
        </form>

        {# Display simple buttons - submit or cancel form editing #}
        <div class="btn-toolbar" role="toolbar" aria-label="Solution Actions">
            <button type="submit" form="solution" class="btn btn-primary mt-4 mb-4 btn-space">Submit</button>

            <form action="{{ url_for('show_objective', objective_id=objective_id) }}">
                <button type="submit" class="btn btn-secondary mt-4 mb-4 btn-space">Cancel</button>
            </form>

            {% if current_user.creator_role == "creator" and  current_user.creator_id == creator.creator_id %}
                <button type="button" class="btn btn-danger mt-4 mb-4 btn-space" data-bs-toggle="modal" data-bs-target="#myModal_del"><i class="bi bi-trash"></i> Delete Solution</button>
            {% endif %}
        </div>
    </div>
{% endblock %}
