{% extends 'base_init.html' %}

{% block content %}
    <h2>{% block title %} Stats {% endblock %}</h2>

    <p>
        <ul>
            <li>Creators: {{ counts['creator'] }}</li>
            <li>Worlds: {{ counts['world'] }}</li>
            <li>Rooms: {{ counts['room'] }}</li>
            <li>Items: {{ counts['item'] }}</li>
            <li>Persons: {{ counts['person'] }}</li>
            <li>Objectives: {{ counts['objective'] }}</li>
            <li>Junctions: {{ counts['junction'] }}</li>
            <li>Solutions: {{ counts['solution'] }}</li>
        </ul>
    </p>    
{% endblock %}
