{% extends 'base.html' %}

{% block content %}
    {#  Page header #}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} All Worlds {% endblock %}</h2>
    </div>

    {#  Page content #}
    <div class="container-fluid pb-3 mt-2 mb-2">

        {#  Show list of all active worlds #}
        <h4 class="mb-3">Active Worlds</h4>
        {% if worlds_active.count() == 0 %}
            No entries found.<br>
        {% else %}
            <div class="list-group">
                {% for world in worlds_active %}
                    <a href="{{ url_for('show_world', world_id=world.world_id)}}" class="list-group-item">{{ world.world_name }} {% if world.reduced == 0 %} <i class="bi bi-chevron-bar-left"></i>{% endif %} {% if world.visible == 1 %} <i class="bi bi-globe"></i>{% endif %}</a>
                {% endfor %}
            </div>
        {% endif %}

        {# Modal dialog window - create a new world #}
        <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create World</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <form action="{{ url_for('show_worlds_p') }}" method="POST" id="form_new">
                            {{ form.csrf_token }}
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.name.name }}">{{ form.name.label }}</label>
                                {{ form.name(size=20, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.url.name }}">{{ form.url.label }}</label>
                                {{ form.url(size=20, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.description.name }}">{{ form.description.label }}</label>
                                {{ form.description(size=40, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.image.name }}">{{ form.image.label }}</label>
                                {{ form.image(class="form-select") }}
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary mt-4 mb-4 btn-space" form="form_new">Create</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="little mt-4 mb-4">

        {#  Show dropdown list of all archived worlds #}
        <h4 class="mb-3">Archived Worlds</h4>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                World Archive
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Click on an item to open world</a></li>
                <li><hr class="dropdown-divider"></li>
                {% for world in worlds_archived %}
                    <li><a class="dropdown-item" href="{{ url_for('show_world', world_id=world.world_id)}}">{{ world.world_name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {#  Display action buttons regarding the selected item #}
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

            {#  Text-based links #}
            <div class="btn-group me-2" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle mt-4 mb-4" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-activity"></i> Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        {% if current_user.creator_role == "creator" %}
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#myModal">Create World</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            {#  Same links implemented using small buttons #}
            <div class="btn-group me-2" role="group" aria-label="Second group">
                {% if current_user.creator_role == "creator" %}
                    <a href="#" class="btn btn-primary mt-4 mb-4" data-toggle="tooltip" title="Create World" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-plus-square"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
