{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} {{ world.world_name }} {% endblock %} ({% if world.reduced == 0 %}<i class="bi bi-chevron-bar-left"></i>ringle, {% endif %}{% if world.visible == 1 %}<i class="bi bi-globe"></i> Public{% else %}Closed{% endif %}, {% if world.archived == 1 %}<i class="bi bi-archive"></i> Archived{% else %}Active{% endif %})</h2>
    </div>

    <div class="container-fluid pb-3 mt-2 mb-2">
        <div class="card mb-3" style="max-width: 720px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ world.world_img if (world.world_img!='') else '/static/not_found.jpg' }}" class="img-fluid rounded-start" alt="World Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ world.world_url }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Created by <a href="{{ url_for('show_creator', creator_id=creator.creator_id)}}">{{ creator.creator_name }}</a></h6>
                        <p class="card-text">{{ world.world_desc }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Modal -->
        <div id="myModal_del" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete World</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('show_deleted_world', world_id=world.world_id) }}">
                            <button type="submit" class="btn btn-danger mt-4 mb-4">Confirm</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit World</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('show_world_p', world_id=world.world_id) }}" method="POST">
                            {{ form.csrf_token }}
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.name.name }}">{{ form.name.label }}</label>
                                {{ form.name(size=20, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.url.name }}">{{ form.url.label }}</label>
                                {{ form.url(size=20, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.description.name }}">{{ form.description.label }}</label>
                                {{ form.description(size=40, class="form-control") }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ form.image.name }}">{{ form.image.label }}</label>
                                {{ form.image(size=20, class="form-control") }}
                            </div>
                            <button type="submit" class="btn btn-primary mt-4 mb-4">Update</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-toolbar" role="toolbar" aria-label="Word Actions">
            <a href="{{ url_for('show_worlds') }}" class="btn btn-primary mt-4 mb-4 btn-space">
                <i class="bi bi-list-ul"></i> All Worlds
            </a>

            <form action="{{ url_for('show_selected_world', world_id=world.world_id) }}">
                <button type="submit" class="btn btn-info mt-4 mb-4 btn-space"><i class="bi bi-check2"></i> Select World</button>
            </form>

            {% if current_user.creator_id == world.creator_id %}
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-primary mt-4 mb-4 btn-space" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-pencil"></i> Edit World</button>

                <form action="{{ url_for('show_switched_world', world_id=world.world_id) }}">
                    <button type="submit" class="btn btn-primary mt-4 mb-4 btn-space"><i class="bi bi-globe"></i> Switch Visibility</button>
                </form>

                <form action="{{ url_for('show_archived_world', world_id=world.world_id) }}">
                    <button type="submit" class="btn btn-primary mt-4 mb-4 btn-space"><i class="bi bi-archive"></i> Archive</button>
                </form>

                <form action="{{ url_for('show_reduced_world', world_id=world.world_id) }}">
                    <button type="submit" class="btn btn-primary mt-4 mb-4 btn-space"><i class="bi bi-chevron-bar-left"></i> Kringle Mode</button>
                </form>
            {% endif %}

            {% if current_user.creator_role == "creator" or current_user.creator_role == "user" %}
                <form action="{{ url_for('show_report', world_id=world.world_id, format_type='markdown') }}">
                    <button type="submit" class="btn btn-primary mt-4 mb-4 btn-space"><i class="bi bi-filetype-md"></i> Create Report (Markdown)</button>
                </form>
            {% endif %}

            {% if current_user.creator_role == "creator" or current_user.creator_role == "user" %}
                <form action="{{ url_for('show_report', world_id=world.world_id, format_type='pdf') }}">
                    <button type="submit" class="btn btn-primary mt-4 mb-4 btn-space"><i class="bi bi-filetype-html"></i> Create Report (HTML)</button>
                </form>
            {% endif %}

            {% if current_user.creator_id == world.creator_id %}
                <button type="button" class="btn btn-danger mt-4 mb-4 btn-space" data-toggle="modal" data-target="#myModal_del"><i class="bi bi-trash"></i> Delete World</button>
            {% endif %}
        </div>
    </div>
{% endblock %}
