{% extends 'base.html' %}

{% block content %}
    <div class = "page-header">
        <h2>
            {% block title %} {{ world.world_name }} {% endblock %} ({% if world.visible == 1 %}<span class="glyphicon glyphicon-globe"></span> Public{% else %}Closed{% endif %})
        </h2>
    </div>

    <div class="container-fluid">
        <i>Created by <a href="{{ url_for('show_creator', creator_id=creator.creator_id)}}">{{ creator.creator_name }}</a></i>
        <br><br>

        <img src="{{ world.world_img if (world.world_img!='') else '/static/not_found.jpg' }}" alt="World Image" width="33%" height="33%">
        <br><br>

        <div class="panel panel-default">
            <div class="panel-heading">{{ world.world_url }}</div>
            <div class="panel-body">{{ world.world_desc }}</div>
        </div>

        {% if current_user.creator_id == world.creator_id %}
            <br><hr class="little"><br>
            <button data-toggle="collapse" data-target="#create">Edit world</button>
            <br><br>
            <div class="container-fluid collapse" id="create">
                <form action="{{ url_for('show_world_p', world_id=world.world_id) }}" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="name">{{ form.name.label }}</label>
                        {{ form.name(size=20, class="form-control") }}
                    </div>
                    {% for error in form.name.errors %}
                        <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                    {% endfor %}
                    <div class="form-group">
                        <label for="url">{{ form.url.label }}</label>
                        {{ form.url(size=20, class="form-control") }}
                    </div>
                    {% for error in form.url.errors %}
                        <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                    {% endfor %}
                    <div class="form-group">
                        <label for="description">{{ form.description.label }}</label>
                        {{ form.description(size=40, class="form-control") }}
                    </div>
                    {% for error in form.description.errors %}
                        <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                    {% endfor %}
                    <div class="form-group">
                        <label for="image">{{ form.image.label }}</label>
                        {{ form.image(size=20, class="form-control") }}
                    </div>
                    {% for error in form.image.errors %}
                        <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                    {% endfor %}
                    <button type="submit" class="btn btn-default">Update</button>
                </form>
            </div>
        {% endif %}

        <br><hr class="little"><br>
        <h4>World Actions</h4>
        <form action="{{ url_for('show_objectives', world_id=world.world_id) }}">
            <button type="submit" class="btn btn-primary">Select World</button>
        </form>
        <br>
        {% if current_user.creator_role == "creator" or current_user.creator_role == "user" %}
            <form action="{{ url_for('show_walkthrough', world_id=world.world_id, format_type='markdown') }}">
                <button type="submit" class="btn btn-default">Create Walkthrough (Markdown)</button>
            </form>
            <br>
        {% endif %}
        {% if current_user.creator_role == "creator" or current_user.creator_role == "user" %}
            <form action="{{ url_for('show_walkthrough', world_id=world.world_id, format_type='pdf') }}">
                <button type="submit" class="btn btn-default">Create Walkthrough (HTML)</button>
            </form>
            <br>
        {% endif %}
        {% if current_user.creator_id == world.creator_id %}
            <form action="{{ url_for('show_switched_world', world_id=world.world_id) }}">
                <button type="submit" class="btn btn-default">Switch Visibility</button>
            </form>
            <br>
        {% endif %}
        {% if current_user.creator_id == world.creator_id %}
            <form action="{{ url_for('show_deleted_world', world_id=world.world_id) }}">
                <button type="submit" class="btn btn-danger">Delete World</button>
            </form>
            <br>
        {% endif %}
        <br>

        <a href="{{ url_for('show_worlds') }}">All Worlds</a>
    </div>
{% endblock %}
